.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  background-color: beige;
  /* padding-bottom: */
}

.header{
display: flex;  
flex-direction: column;
align-items: center;
gap:9px;
margin-top: 30px;
width: 100%;

}
.input{
  margin-top: 20px;
}