.landing{
    width: auto;
    height: 100vh;
    /* background-color: rgb(81, 166, 211); */
    background-image: url('https://i.pinimg.com/564x/b8/be/5f/b8be5f5958f94978f7e5f3494dfdaac6.jpg');
    background-size:contain;
  
    
}
.heading{
    justify-content: center;
    text-align: center;
    padding-top:90px;
    
}

