.landing{
    width: auto;
    height: 100vh;
    background-image: url("https://img.freepik.com/premium-photo/boy-cycling-city-front-big-house-smart_756262-7331.jpg");
    background-size: cover;
    
}
.heading{
    justify-content: center;
    text-align: center;
    padding-top:90px;
    
}


